# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
env/
ENV/
.venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE/editor files
.vscode/
.idea/
*.swp

# OS